/*.header { background: $head-bg; }*/
.header { 
    background: url(/images/avatar/header.jpg);
    no-repeat; 
    background-size: auto 100%;
}

.header-inner { position: relative; }


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
